## OS X ##
.DS_Store

## Java ##
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

## Gradle ##
.gradle
/build/
!gradle-wrapper.jar
.gradletasknamecache
gradle-app.setting

## Maven ##
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.idea_modules
.log
.build
*.build
*.iws
*.iml
*.ipr
/out/
/logs/

## Eclipse ##
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.settings
.settings/
build/
bin/
nbactions.xml
nb-configuration.xml

## Visual Studio Code ##
.vscode/
.code-workspace

# Secrets
gradle.properties
secrets
